<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Gather</title>

    <!-- Icon -->
        <link rel="icon" href="../src/img/logo-icon.png">

    <!-- Bootstrap -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">

        <script defer src="../bootstrap/js/bootstrap.bundle.js"></script>
        <script defer src="../bootstrap/js/bootstrap.js"></script>

    <!-- CSS -->
        <link rel="stylesheet" href="../src/css/style.css">
        <link rel="stylesheet" href="../src/css/responsive.css">
    
    <!-- Font Awesame -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    
    <!-- JS -->
        <script type="module" src="../src/js/index.js" defer></script>

    <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&family=MedievalSharp&display=swap" rel="stylesheet">

    <!-- Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body class="">
    <main class="fluid criarmain">
        <form action="">
            <section class="none pagina1" id="pag1">
                <section id="barraprog">  
                    <p class="numprog">1/3</p>
                  </section>
                <div class="" id="grade1">
                    <img src="/public/src/img/exemplo-avatar.png" alt="pudim" id="pudimdecria">
                    <img src="/public/src/img/Pena.png" alt="pena" id="pena">
                    <p id="nome">Nome:</p>
                    <input type="text" name="" id="inpnome" readonly>
                    <p id="raca">Raça:</p>
                    <input type="text" name="" id="inpraca" readonly>
                    <p id="level">Nível:</p>
                    <input type="text" name="" id="inplevel" readonly>
                </div>
                <div class="container" id="grade2">
                    <p class="tex2">Classe:</p>
                    <input type="text" name="" class="inpgrad2" id="" readonly>
                    <p class="tex2">Tendência:</p>
                    <input type="text" name="" class="inpgrad2" id="" readonly>
                    <p class="tex2">Antecedentes:</p>
                    <input type="text" name="" class="inpgrad2" id="" readonly>
                </div>
                <div class="container" id="grade3">
                    <p class="tex3">Idade:</p>
                    <input type="text" name="" class="inpgrad3" readonly>
                    <p class="tex3">Peso:</p>
                    <input type="text" name="" id="" class="inpgrad3" readonly>
                    <p class="tex3">Altura:</p>
                    <input type="text" name="" id="" class="inpgrad3" readonly>
                    <p class="tex3">Gênero:</p>
                    <input type="text" name="" id="" class="inpgrad3" readonly>
                </div>
            </section>
        <section class= "" id="pag2">
            <p class="numprog">2/3</p>
            <button type="button" class="btnCloseFF"><a href="\public\views\home.html"><img src="\public\src\img\icon\Fechar.png" alt="" class="setaproximo"></a></button>
            <div class="apoiopag2">
                <div class="divpag div1pag2">
                    <label for="origeminp">História de Origem: </label><br>
                    <input type="text" name="origeminp" id="origeminp" class="inps2d1"><br><br>
                    <label for="persoinp">Personalidade: </label><br>
                    <input type="text" name="persoinp" id="persoinp" class="inps2d1"><br><br>
                    <label for="motivoinp">Motivação: </label><br>
                    <input type="text" name="motivoinp" id="motivoinp" class="inps2d1">
                </div>
                <div class="divpag div2pag2">
                    <label for="traumasinp">Traumas: </label><br>
                    <input type="text" name="traumasinp" id="traumasinp" class="inps2d2"><br><br>
                    <label for="fraquezasinp">Fraquezas: </label><br>
                    <input type="text" name="fraquezasinp" id="fraquezasinp" class="inps2d2">
                </div>
                <div class="divpag div3pag2">
                    <label for="equipinp">Equipamentos: </label><br>
                    <input type="text" name="equipinp" id="equipinp" class="inps2d3">
                </div>
                <div class="div4pag2">
                    <label for="classearmor">Classe de armadura</label><br>
                    <input type="number" name="classearmor" id="classearmor" class="inps2d4">
                </div>
                <div class="divpag div5pag2">
                    <label for="habi">Hablilidades: </label><br>
                    <input type="text" name="habi" id="habi" class="inps2d5"><br><br>
                    <label for="powers">Poderes: </label><br>
                    <input type="text" name="powers" id="powers" class="inps2d5">
                </div>
                <div class="divpag div6pag2">
                    <h3 id="peritotulo">Perícias</h3><br>
                    <div class="perimetro">
                        <label for="FOR" class="perilabel">FOR</label>
                        <input type="number" name="FOR" id="FOR" class="perigrid">
                        <input type="number" name="" id="forball" class="periballs">
                        
                        <label for="INT" class="perilabel">INT</label>
                        <input type="number" name="INT" id="INT" class="perigrid">
                        <input type="number" name="" id="intball" class="periballs">
                        
                        <label for="DES" class="perilabel">DES</label>
                        <input type="number" name="DES" id="DES" class="perigrid">
                        <input type="number" name="" id="desball" class="periballs">
                        
                        <label for="SAB" class="perilabel">SAB</label>
                        <input type="text" name="SAB" id="SAB" class="perigrid">
                        <input type="number" name="" id="sabball" class="periballs">
                        
                        <label for="CAR" class="perilabel">CAR</label>
                        <input type="text" name="CAR" id="CAR" class="perigrid">
                        <input type="number" name="" id="carball" class="periballs">

                        <label for="CON" class="perilabel">CON</label>
                        <input type="text" name="CON" id="CON" class="perigrid">
                        <input type="number" name="" id="conball" class="periballs">
                    </div>
                </div>
            </div>
        </section>
        
        <section id="pag3">

        </section>

        </form>
    </main>

</body>
</html>