<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Gather</title>

    <!-- Icon -->
        <link rel="icon" href="../src/img/logo-icon.png">

    <!-- Bootstrap -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">

        <script defer src="../bootstrap/js/bootstrap.bundle.js"></script>
        <script defer src="../bootstrap/js/bootstrap.js"></script>

    <!-- CSS -->
        <link rel="stylesheet" href="../src/css/style.css">
        <link rel="stylesheet" href="../src/css/responsive.css">

    <!-- Font Awesame -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    
    <!-- JS -->
        <script type="module" src="../src/js/index.js" defer></script>

    <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&family=MedievalSharp&display=swap" rel="stylesheet">

    <!-- Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body class="">

    <header class="web">
        <nav class="Navbar">
            <div class="logo">
                <a href="../../index.html">
                    <img  src="../src/img/logo-image.png" alt="Legends Gather">
                </a>
            </div>
            <div class="navgation">
                <ul class="itens">
                    <a href="./home.html">
                        <div  class="nav-item active">
                            <img src="../src/img/icon/icon-home.png" alt="Home" >                  
                        </div>
                    </a>
                    <a href="./editar.html">
                        <div class="nav-item">     
                               <img src="../src/img/icon/icon-edit.png" alt="Editar">
                        </div>
                    </a>
                </ul>
            </div>

            <div class="config">
                <a href="./configuracao.html">
                    <i class="fa fa-gear fa-3x"></i>            
                </a>
            </div>

        </nav>
    </header>
        



    <main class="main">
        <div class="container">
            <div class="row bar">
                <div class="search col-sm-8 ">
                    <input type="search" name="search" id="search" placeholder="Pesquise...">
                    <button>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="usuario col-sm-4 ">
                    <div class="row ">
                        <div class="user">
                            <img src="../src/img/boneco2.png" alt="Usuario" >
                            <div class="name">Nome do user</div>
                            <div id="userbtn">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>


                    <div class="collapsed"  id="collapsed">
                        <a href="usuario.html">
                            <div class="collapsed-item">
                                <img src="../src/img/icon/icon-editarimg.png" alt="Editar">
                                <p>Editar</p>
                            </div>
                        </a>

                        <a href="../../index.html">
                            <div class="collapsed-item">
                                <img src="../src/img/icon/icon-sair.png" alt="Sair">                               
                                <p>Sair</p>
                            </div>
                        </a>
                    </div>
                </div>  
            </div>

            <h1 class="title">Meus Personagens</h1>

            <div class="cards-section row">
                
            </div>     
    </main>




    <header class="mobile">
        <nav class="Navbar">
            <div class="logo">
                <a href="../../index.html">
                    <img  src="../src/img/logo-image.png" alt="Legends Gather">
                </a>
            </div>
            <div class="navgation">
                <ul class="itens">
                    <a href="./home.html">
                        <div  class="nav-item active">
                            <img src="../src/img/icon/icon-home.png" alt="Home" >                  
                        </div>
                    </a>
                    <a href="./editar.html">
                        <div class="nav-item">     
                               <img src="../src/img/icon/icon-edit.png" alt="Editar">
                        </div>
                    </a>
                </ul>
            </div>

            <div class="config">
                <a href="./configuracao.html">
                    <i class="fa fa-gear fa-3x"></i>            
                </a>
            </div>

        </nav>
    </header>

</body>
</html>
