<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Gather</title>

    <!-- Icon -->
    <link rel="icon" href="../src/img/logo-icon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">

    <script defer src="../bootstrap/js/bootstrap.bundle.js"></script>
    <script defer src="../bootstrap/js/bootstrap.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/responsive.css">

    <!-- Font Awesame -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <!-- JS -->
    <script type="module" src="../src/js/index.js" defer></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=McLaren&family=MedievalSharp&display=swap" rel="stylesheet">

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>

<body class="">

    <main class="fluid">
        <h1 class="tituloFicha">Ficha Final</h1>
        <img class="container" id="imgdd" src="\public\src\img\logoD&D.png" alt="">

        <button type="button" class="btnCloseFF"><a href="\public\views\home.html"><img
                    src="\public\src\img\icon\Fechar.png" alt="" class="setaproximo"></a></button>

        <form action="">
            <section class="none part1" id="part1">
                <div class="" id="bloco1">

                    <input type="image" class="img-avatar" src="\public\src\img\exemplo-avatar.png" alt="">

                    <div class="bloco1-1">
                        <p class="nick">Nickname:</p>
                        <input type="text" name="" class="inpnick" id="" readonly>
                    </div>
                    <div class="bloco1-2">
                        <div>
                            <p class="raça">Raça:</p>
                            <input type="text" name="" class="inpraça" id="" readonly>
                        </div>
                        <div class="bloco1-3">
                            <p class="nivel">nível:</p>
                            <input type="number" name="" class="inpnivel" id="" readonly>
                        </div>

                        <div class="container" id="bloco2">
                            <p class="inf2">Classe:</p>
                            <input type="text" name="" class="inpbloc2" id="" readonly>
                            <p class="inf2">Tendência:</p>
                            <input type="text" name="" class="inpbloc2" id="" readonly>
                            <p class="inf2">Antecedentes:</p>
                            <input type="text" name="" class="inpbloc2" id="" readonly>
                        </div>

                        <div>
                            <div class="container" id="bloco3">
                                <p class="inspiracao">Inspiração</p>
                            </div>
                            <div>
                                <input type="number" class="inpbloc3" name="" id="" readonly>
                            </div>

                            <div>
                                <div class="container" id="bloco4">
                                    <p class="bonusprof">Bônus de <br>Proeficiência</p>
                                </div>
                                <div>
                                    <input type="number" name="" class="inpbloc4" id="" readonly>
                                </div>
                            </div>

                            <div id="bloco5">
                                <p class="ptsvida">Pontos de Vida</p>
                                <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" style="width: 85%"></div>
                                </div>
                                <div class="numvida">
                                    <input type="number" class="inpbloc5" name="" id="" readonly>
                                    <input type="number" class="inpbloc5-1" name="" id="" readonly>
                                </div>
                                <input type="number" name="" class="inpbloc5-2" id="" readonly>
                                <p class="pvtemp">PV Temporário</p>
                            </div>

                            <div class="bloco6">
                                <div class="bloco6-1">
                                    <p class="equip6">Equipamentos:</p>
                                    <input type="text" class="inpbloc6" name="" id="" readonly>
                                </div>
                                <div class="bloco6-2">
                                    <p class="habili6">Habilidades:</p>
                                    <input type="text" class="inpbloc6-1" name="" id="" readonly>
                                </div>
                                <div class="bloco6-3">
                                    <p class="testmort6">Testes contra a morte</p>
                                    <p class="sucess6">Sucessos</p>
                                    <div class="linhabloc6"></div>
                                    <p class="fracass6">Fracassos</p>
                                    <div class="linhabloc6"></div>
                                    <div class="bloco 6-3-2">
                                        <div>
                                            <input type="number" class="inpbloc6-3" name="" id="" readonly>
                                            <input type="number" class="inpbloc6-4" name="" id="" readonly>
                                            <input type="number" class="inpbloc6-5" name="" id="" readonly>
                                        </div>
                                        <div>
                                            <input type="number" class="inpbloc6-6" name="" id="" readonly>
                                            <input type="number" class="inpbloc6-7" name="" id="" readonly>
                                            <input type="number" class="inpbloc6-8" name="" id="" readonly>
                                        </div>
                                    </div>
                                    <div class="bloco7">
                                        <p class="classeArm">Classe de <br> Armadura</p>
                                        <div>
                                            <input type="number" class="inpbloc7" name="" id="" readonly>
                                        </div>
                                        <div>
                                            <input type="number" class="inpbloc7-1" name="" id="" readonly>
                                            <p class="LegenIni">Iniciativa</p>
                                        </div>
                                        <div>
                                            <input type="number" class="inpbloc7-2" name="" id="" readonly>
                                            <p class="LegenDesloc">Deslocamento</p>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" class="btnSetaFF"><a href="">
                                                <img src="\public\src\img\icon\Seta.png" alt=""
                                                    class="setaproximo"></a></button>
                                    </div>
            </section>
        </form>

        <form action="">
            <section class="part2" id="part2">

                <div class="">
                    <div class="part2-bloco1">

                        <div class="part2-bloco1-2">
                            <label for="" class="labnome">Nome:</label>
                            <input type="text" class="part2-inpbloc1-2" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-2" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-2" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-2" name="" id="" readonly>
                        </div>
                        <div class="part2-bloco1-3">
                            <label for="" class="labbonus">Bônus:</label>
                            <input type="text" class="part2-inpbloc1-3" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-3" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-3" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-3" name="" id="" readonly>
                        </div>
                        <div class="part2-bloco1-4">
                            <label for="" class="labdanotipo">Dano/tipo:</label>
                            <input type="text" class="part2-inpbloc1-4" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-4" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-4" name="" id="" readonly>
                            <input type="text" class="part2-inpbloc1-4" name="" id="" readonly>
                        </div>
                        <div class="container">
                            <p class="AtakMagia">Ataques e Magias</p>
                        </div>
                    </div>

                    <div class="part2-bloco2">
                        <div>
                            <label for="" class="IdiomaPref">Idiomas e outras <br> preferências:</label>
                            <input type="text" class="part2-inpbloc2" name="" id="" readonly>
                        </div>
                        <div>
                            <label for="" class="AliadosOrgani">Aliados e <br>Organizações:</label>
                            <input type="text" class="part2-inpbloc2" name="" id="" readonly>
                        </div>
                    </div>
                    
                    <div>
                        
                    </div>
                    <div class="part2-bloco3">
                        <div>
                            <label for="" class="legenbloc3">Historia de Origem:</label>
                            <input type="text" class="part2-inpbloc3" name="" id="" readonly>
                            <label for="" class="legenbloc3">Personalidade:</label>
                            <input type="text" class="part2-inpbloc3-2" name="" id="" readonly>
                            <label for="" class="legenbloc3">Motivação:</label>
                            <input type="text" class="part2-inpbloc3-3" name="" id="" readonly>
                        </div>
                        
                        <div class="part2-bloco4">
                            <div>
                                <div>
                                    <label for="" class="legenbloc4">Traumas:</label>
                                    <input type="text" class="part2-inpbloc4" name="" id="" readonly>
                                </div>

                                <div>
                                    <label for="" class="legenbloc4">fraquezas:</label>
                                    <input type="text" class="part2-inpbloc4" name="" id="" readonly>
                                </div>
                            </div>
                       </div>


                       <div>
                        <button type="button" class="btnSetaFF-2"><a href="">
                                <img src="\public\src\img\icon\Seta.png" alt=""
                                    class="setaproximo2"></a></button>
                    </div>
                    <div>
                        <button type="button" class="btnSetaFF-3"><a href="">
                                <img src="\public\src\img\icon\Seta.png" alt=""
                                    class="setaproximo"></a></button>
                    </div>
            </section>
        </form>


        <section id="part3">

        </section>
        <section id="part4">

        </section>

    </main>

</body>

</html>