    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Legends Gather</title>

        <!-- Icon -->
        <link rel="icon" href="../src/img/logo-icon.png">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">

        <script defer src="../bootstrap/js/bootstrap.bundle.js"></script>
        <script defer src="../bootstrap/js/bootstrap.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../src/css/style.css">
        <link rel="stylesheet" href="../src/css/responsive.css">

        <!-- Font Awesame -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

        <!-- JS -->
        <script type="module" src="../src/js/index.js" defer></script>

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&family=MedievalSharp&display=swap" rel="stylesheet">

        <!-- Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
    </head>

    <body class="">

        <main class="fluid">
            <h1>Ficha Final</h1>
            <img class="container" id="imgdd" src="\public\src\img\logoD&D.png" alt="">

            <section>
                <div class="" id="bloco1">

                    <div class="bloco1-1">
                        <p class="nick">Nickname:</p>
                        <input type="text" name="" class="inpnick" id="" readonly>
                    </div>
                   
                    <div class="bloco1-2">
                     <div>
                        <p class="raça">Raça:</p>
                        <input type="text" name="" class="inpraça" id="" readonly>
                     </div>
                        <div class="bloco1-3">
                            <p class="nivel">nível:</p>
                            <input type="number" name="" class="inpnivel" id="" readonly>
                        </div>
                    
                </div>
                <div class="container" id="bloco2">
                    <p class="inf2">Classe:</p>
                    <input type="text" name="" class="inpbloc2" id="" readonly>
                    <p class="inf2">Tendência:</p>
                    <input type="text" name="" class="inpbloc2" id="" readonly>
                    <p class="inf2">Antecedentes:</p>
                    <input type="text" name="" class="inpbloc2" id="" readonly>
                </div>
                <div>
                    <div class="container" id="bloco3">
                        <p class="inspiracao">Inspiração</p>
                    </div>
                    <div>
                        <input type="number" class="inpbloc3" name="" id="" readonly>
                    </div>
                </div>

                <div>
                    <div class="container" id="bloco4">
                        <p class="bonusprof">Bônus de <br>Proeficiência</p>
                    </div>
                    <div>
                        <input type="number" name="" class="inpbloc4" id="" readonly>
                    </div>
                </div>

                <div id="bloco5">
                        <p class="ptsvida">Pontos de Vida</p>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 85%"></div>
                    </div>
                    <div class="numvida">
                        <input type="number" class="inpbloc5" name="" id="" readonly>
                        <input type="number" class="inpbloc5-1" name="" id="" readonly>
                    </div>
                    <input type="number" name="" class="inpbloc5-2" id="" readonly>
                    <p class="pvtemp">PV Temporário</p>
                </div>

                <!-- <div id="bloco6">
                    <p class="classArm">Classe de<br>Armadura</p>
                    <input type="number" name="" class="inpbloc6" id="">
                </div> -->
                <!-- <section class="container sect2">
                    <div class="bloco7">
                        <p>Equipamentos:</p>
                        <input type="text" name="" id="">
                    </div>
                </section> -->


            </section>

        </main>

    </body>

    </html>