<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Gather</title>

    <!-- Icon -->
        <link rel="icon" href="../src/img/logo-icon.png">

    <!-- Bootstrap -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">

        <script defer src="../bootstrap/js/bootstrap.bundle.js"></script>
        <script defer src="../bootstrap/js/bootstrap.js"></script>

    <!-- CSS -->
        <link rel="stylesheet" href="../src/css/style.css">
        <link rel="stylesheet" href="../src/css/responsive.css">

    <!-- Font Awesame -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <!-- JS -->
        <script type="module" src="../src/js/index.js" defer></script>

    <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&family=MedievalSharp&display=swap" rel="stylesheet">

    <!-- Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body class="">

    <main class="fluid">
    </main>

</body>
</html>