<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends Gather</title>
    <!-- Icon -->
    <link rel="icon" href="../src/img/logo-icon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <script defer src="../bootstrap/js/bootstrap.bundle.js"></script>
    <script defer src="../bootstrap/js/bootstrap.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/responsive.css">
    <!-- Font Awesame -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- JS -->
    <script type="module" src="../src/js/edituser.js" defer></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=McLaren&family=MedievalSharp&display=swap" rel="stylesheet">
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body class="">
    <header class="web">
        <nav class="Navbar">
            <div class="logo">
                <a href="../../index.html">
                    <img  src="../src/img/logo-image.png" alt="Legends Gather">
                </a>
            </div>
            <div class="navgation">
                <ul class="itens">
                    <a href="./home.html">
                        <div  class="nav-item">
                            <img src="../src/img/icon/icon-home.png" alt="Home" >                  
                        </div>
                    </a>
                    <a href="./editar.html">
                        <div class="nav-item">     
                               <img src="../src/img/icon/icon-edit.png" alt="Editar">
                        </div>
                    </a>
                </ul>
            </div>

            <div class="config">
                <a href="./configuracao.html">
                    <i class="fa fa-gear fa-3x"></i>            
                </a>
            </div>

        </nav>
    </header>

    <main>
        <div>
            <img class="sair" src="../src/img/icon/Fechar.png " alt="">
        </div>
        <div>
            <img class="imgusuario" src="../src/img/image 20.png" alt="Usuario-editar">
        </div>
        <div>
            <input class="inputname" type="text" value="MR.Pudding" readonly>
        </div>
        <div>
            <p class="email">Email:</p>
        </div>
        <div>
            <input class="inputemail" type="email" value="Jorgegamer@gmail.com" readonly>
        </div>
        <div>
            <p class="senha">Senha:</p>
        </div>
        <div>
            <input class="inputsenha" type="password" value="gamer123" readonly>
        </div>
<!--         <div>
            <img class="imgedit" src="../src/img/Component 1.png" alt="">
        </div> -->
        <button type="button" class="imgedit edituser">
                <p class="fontEditar">Editar</p>
                <img src="\public\src\img\icon\PenaEdit.png" alt="" class="peninhaedit ">
            
        </button>
    </main>

    <header class="mobile">
        <nav class="Navbar">
            <div class="logo">
                <a href="../../index.html">
                    <img  src="../src/img/logo-image.png" alt="Legends Gather">
                </a>
            </div>
            <div class="navgation">
                <ul class="itens">
                    <a href="./home.html">
                        <div  class="nav-item active">
                            <img src="../src/img/icon/icon-home.png" alt="Home" >                  
                        </div>
                    </a>
                    <a href="./editar.html">
                        <div class="nav-item">     
                               <img src="../src/img/icon/icon-edit.png" alt="Editar">
                        </div>
                    </a>
                </ul>
            </div>

            <div class="config">
                <a href="./configuracao.html">
                    <i class="fa fa-gear fa-3x"></i>            
                </a>
            </div>

        </nav>
    </header>
</body>
</html>