@import url("root.css");

@media (max-width: 1150px) {
    .collapsed{
        width: 93%;
    }
    .user .name {
        font-size: 0.7em;
    }
}

@media (max-width: 950px) {
    .user .name {
        font-size: 0.5em;
    }
    .pericias-grid{
        grid-column-gap: 3rem;
        padding-left: 3rem;
      }
      .inp-pericia{
        margin-left: -3.5rem;
      }
}

@media (max-width: 750px) {
    
    body{
        flex-direction: column ;
    }
    header{
        width: 100%;
        height: 15vh ;
        position: relative;
        bottom: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    header.web{
        display: none;
    }
    header.mobile{
        display: flex;
    }
    
    main{
        margin: 0 ;
        width: 100% ;
        height: 85vh auto;
        border-radius: 0px 0px 28px 28px;
        
    }
    
  

    nav.Navbar, .navgation ul{
        gap: 15vw;
        flex-direction: row;

    }
    

    nav .navgation {
    position: unset;
    }
    .active::after, nav .config, nav .logo img{
        content: unset; 
        position: unset;
        margin-top: unset;
        filter: unset;
    }
    nav .logo img{
        width: 4.5rem;
        border-radius: 50%;
    }

    .bar div.usuario{
        display: none;
    }

    .search input {
        width: 100%;
    }
    .search button {
        width: 12%;
        margin-left: -10%;
    }

    h1.title {
        padding: unset;
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 3em;
        text-align: center;
    }
    .perimetro{
        grid-template-columns: repeat(3,0fr);
        grid-row-gap: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;

    }
    .caracballs {
        margin-left: -3rem;
    }
    .nome-pericia {
        width: 8rem;
        height: 3rem;
        font-size: 1em;
    }
    .pericias-grid{
        grid-column-gap: 3rem;
        padding-left: 3rem;
    }
      .inp-pericia{
        margin-left: -3.5rem;
        height: 3rem;
        width: 4rem;
      }
}
      
      


@media (max-width: 550px) {
    nav.Navbar, .navgation ul{
        gap: 8vw;
    }
    .pericias-grid{
        display: grid;
        grid-template-columns: repeat(2,0fr);
        grid-row-gap: 3rem;
        grid-column-gap: 7rem;
        margin-left: 1rem;
        padding-left: 5rem;
        padding-right: 2rem;
      
    }
      
    .nome-pericia{
        width: 11rem;
        height: 4rem;
        font-size: 1.5em;
        padding-top: 1rem;
    }
      
    .inp-pericia{
        height: 4rem;
        width: 5rem;
        margin-left: -7.5rem;
    }
    .numprog {
        font-size: 2em;
    }
    
   
}

@media (max-width: 350px) {
    nav.Navbar, .navgation ul{
        gap: 2vw;
    }
    .pericias-grid{
        display: grid;
        grid-template-columns: repeat(2,0fr);
        grid-row-gap: 3rem;
        grid-column-gap: 7rem;
        margin-left: 1rem;
        padding-left: 3rem;
        padding-right: 0;
      
    }
    .numprog {
        font-size: 1em;
    }
    .setaproximo {
        width: 2rem;
    }
}

@media (max-width: 150px) {
    nav.Navbar, .navgation ul{
        gap: unset;
    }
}
