/* ---------------------------------------------
Table of contents
------------------------------------------------
01. root
02. reset
03. global styles
04. header
05. login 
06. cadastro
07. home
08. erro
09. configuração
10. usuario
11. criar personagem
12. ficha final 
13. editar
14. loading

--------------------------------------------- */
/* 
---------------------------------------------
root
--------------------------------------------- 
*/

@import url("root.css");

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

* {
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  border: 0;
  outline: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global style
--------------------------------------------- 
*/

/* Dark */
body {
  background-color: var(--d_color1);
  color: #fff;
  transition: all .5s;
  display: flex;
  flex-direction: row;
}


/* Ligth */
.ligth,
.ligth section {
  background-color: var(--l_color1);
  color: #fff;
  transition: all .5s;
}

.ligth main {
  background-color: var(--l_color3);
  transition: all .5s;
}

.ligth ::selection {
  background: var(--l_color3);
  color: #fff;
}

.ligth ::-moz-selection {
  background: var(--l_color3);
  color: #fff;
}

::selection {
  background: var(--d_color3);
  color: #fff;
}

::-moz-selection {
  background: var(--d_color3);
  color: #fff;
}


header {
  margin-left: 28px;
  width: 5%;
  height: 100vh;
}

header.mobile{
  display: none;
}

main {
  width: 95%;
  height: calc(100vh - 56px) auto;
  background-color: var(--d_color3);
  transition: all .5s;
  border-radius: 20px;
  margin: 28px;
}

main.fluid {
  width: 100%;
  height: calc(100vh - 56px);
  background-color: var(--d_color3);
  transition: all .5s;
  border-radius: 20px;
  margin: 28px;
}

.btn {
  width: 12rem;
  height: 4rem;
  background: var(--d_color5);
  border-radius: 10px;
  cursor: pointer;
}

.btn2 {
  width: 12rem;
  height: 4rem;
  background: var(--d_color6);
  border-radius: 10px;
  cursor: pointer;

}

.cards{
  width: 13rem;
  height: 19rem;
  background: rgba(104, 179, 247, 0.46);
  box-shadow: 8px 8px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  overflow: hidden;
  z-index: 10;
}

.cards-container, .ver-ficha{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards .img-person{
  width: 11rem;
  height: 11rem;
  background-color: #fff;
  border-radius: 7px;
  margin: 1rem;
}
 
.cards p{
  font-size: 1.4em;
}

.ver-ficha{
  margin-left: 8rem;
  margin-top: -0.7rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--d_color3);
  z-index: 100;
  font-size: 2em;
  cursor: pointer;
  color: #b0b0b0;
  border-radius: 7px;
}

.cards:hover{
  transform: scale(1.1);
  transition: all .2s ease-out;
}

.more .cards:hover i{
  transform: rotate(180deg);
  transition: all .5s ease-out;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

nav.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

nav .logo img {
  width: 4rem;
  border-radius: 10px;
  margin-top: 3rem;
  filter: unset;
}

nav img {
  filter: invert(100%);
  width: 3.5rem;
}

.navgation ul {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.active::after {
  content: " ";
  display: flex;
  position: absolute;
  margin-top: -4.5rem;
  left: 0;
  height: 4.5rem;
  width: 0.3rem;
  background-color: #fff;
}

nav .config {
  display: flex;
  position: absolute;
  bottom: 28px;

}


/* 
---------------------------------------------
login
--------------------------------------------- 
*/





/* 
---------------------------------------------
cadastro
--------------------------------------------- 
*/




/* 
---------------------------------------------
home
--------------------------------------------- 
*/
.bar {
  margin: 2rem;
}

.search input {
  width: 90%;
  height: 3rem;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 20px;
  font-size: 1.5em;
  font-family: var(--font2);
  padding-left: 2rem;
}

.search button {
  width: 8%;
  height: 3rem;
  border-radius: 20px;
  font-size: 1.5em;
  font-family: var(--font2);
  background-color: var(--d_color4);
  position: absolute;
  margin-left: -8%;
  text-align: center;
}

.usuario {
  position: absolute;
  right: 0;
}

.user {
  display: flex;
  width: 90%;
  height: auto;
  justify-content: space-between;
  border-radius: 40px 20px 20px 40px;
  align-items: center;
  background: var(--d_color5);
  font-size: 2em;
  z-index: 100;
}

.user img {
  width: 4rem;
  background: #ffffffba;
  position: relative;
  left: -12px;
  border-radius: 50%;
}

.user .name {
  font-size: 0.9em;
  margin-left: -4%;
  position: relative;
}

.collapsed {
  display: flex;
  position: relative;
  z-index: 10;
  width: 92%;
  height: 1rem;
  border-radius: 15px;
  flex-direction: column;
  background-color: var(--d_color5);
  font-size: 2em;
  margin-top: -4rem;
  padding-top: 4rem;
  padding-left: 1rem;
  overflow: hidden;
  transition: all .4s ease-out;
}

#userbtn {
  position: relative;
  top: 0;
  transition: all .4s ease-out;
  cursor: pointer;
}

.active-userbtn {
  position: relative;
  top: 11rem !important;
  transform: rotate(180deg);
  cursor: pointer;

}

.collapsed-item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1rem;
}

.collapsed img {
  width: 3rem;
  filter: invert(100%);
  object-fit: contain;
}

h1.title {
  padding: 4rem;
}



/* 
---------------------------------------------
erro
--------------------------------------------- 
*/





/* 
---------------------------------------------
configuração
--------------------------------------------- 
*/





/* 
---------------------------------------------
usuario
--------------------------------------------- 
*/





/* 
---------------------------------------------
criar personagem
--------------------------------------------- 
*/
input {
  background-color: var(--d_color5);
  border-radius: 5px;
  font-size: 25px;
  width: 230px;
  padding-left: 10px;
  color: white;
  height: 40px;
}

#imgdd {
  width: 110px;
  position: absolute;
  display: flex;
  margin-top: -62px;
  margin-left: 220px;
}

#grade1 {
  width: 310px;
  height: 375px;
  margin: 20px;
  margin-top: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);

}

#nome {
  margin: 25px;
  margin-left: 40px;
  position: absolute;
  display: flex;
  margin-top: 220px;
}

#raca {
  margin: 25px;
  margin-left: 40px;
  display: flex;
  margin-top: 0px
}

#level {
  margin-left: 185px;
  margin-top: -82px;
}

#inpnome {
  border-radius: 5px;
  margin-left: 30px !important;
  margin-top: 240px !important;
  font-size: 25px;
  margin: 20px;
  flex-shrink: 0;
}

#inpraca {
  display: flex;
  width: 120px;
  border-radius: 5px;
  margin-top: -25px !important;
  margin-left: 30px !important;
  font-size: 25px;
  margin: 20px;
  height: 40px;
  flex-shrink: 0;
}

#inplevel {
  display: flex;
  margin-left: 180px;
  margin-top: -18px;
  width: 100px;
}

#grade2 {
  width: 310px;
  height: 280px;
  margin-left: 350px !important;
  margin: 20px;
  margin-top: -395px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}

.tex2 {
  margin-left: 13%;
  margin-top: 15px;
}

.inpgrad2 {
  margin-left: 10%;
  margin-top: -10px;
}

#grade3 {
  border: 2.5px solid var(--d_color1);
  border-radius: 10px;
  height: 280px;
  width: 315px;
  margin-top: -300px;
  margin-left: 675px;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.inpgrad3 {
  margin-left: 10%;
  margin-top: 40px;
  width: 100px;
  margin-left: -30%;
}

.tex3 {
  margin-left: 13%;
  margin-top: 15px;

}

.barrap {
  display: flex;
  overflow: hidden;
}

.progress progsup {
  width: 75%;
  margin-right: 10%;
  margin-top: 15px;
  background-color: var(--d_color3);
  float: right;
}

.progress-bar progresso {
  background-color: var(--d_color6);
  border-radius: 25px;
}

.numprog {
  font-size: 40px;
  margin-left: 150px;
  margin-top: 20px;
}

.prox{
  background-color: var(--d_color7);
  border-radius: 5%;
  width: 175px;
  height: 75px;
  text-align: center;
  margin-top: 100%;
  margin-left: 85%;
}


/* 
---------------------------------------------
ficha final 
--------------------------------------------- 
*/
h1 {
  font-size: 45px;
  margin: 1rem;
}

input {
  background-color: var(--d_color5);
  border-radius: 5px;
  font-size: 25px;
  width: 230px;
  display: flex;
  padding-left: 10px;
  color: white;
  height: 40px;
}

.img-avatar{
  margin-top: 1.5rem;
  margin-left: 18.5%;
  background-color: transparent;
  width: 60%;
  height: 50%;
}

#imgdd {
  width: 7.5rem;
  display: flex;
  margin-top: -4.3rem;
  margin-left: 13.5rem;
}

#bloco1 {
  width: 20rem;
  height: 24rem;
  margin-left: 1.8rem;
  margin-top: -0.5rem;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);

}

.bloco1-1 {
  margin-left: 2.5rem;
}


.nick {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}

.bloco1-2 {
  margin-left: 2.5rem;
  display: flex;

}

.raça,
.nivel {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.inpnick {
  margin-top: -0.8rem;

}

.inpraça,
.inpnivel {
  margin-top: -1rem;
}

.inpraça {
  width: 120px;
}

.inpnivel {
  width: 100px;
}

.bloco1-3 {
  margin-left: 10px;
}



#bloco2 {
  width: 18rem;
  height: 17rem;
  margin-left: 22rem !important;
  margin: 20px;
  margin-top: -23rem;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}

.inf2 {
  margin-left: 2rem;
  margin-top: 1rem;
}

.inpbloc2 {
  margin-left: 1.2rem;
  margin-top: -0.8rem;
}

#bloco3 {
  height: 3rem;
  width: 12rem;
  margin-top: 2rem;
  background-color: var(--d_color5);
  border: 1px black solid;
  border-radius: 5px;
  margin-left: 28rem;

}

.inspiracao {
  font-size: 20px;
  text-align: center;
  margin-top: 0.5rem;

}

.inpbloc3 {
  display: flex;
  width: 4rem;
  height: 3rem;
  border: 1px black solid;
  margin-top: -3rem;
  margin-left: 24.5rem;
  background-color: var(--d_color7);
}

#bloco4 {
  height: 3rem;
  width: 12rem;
  background-color: var(--d_color5);
  border: 1px black solid;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: 28rem;
}

.bonusprof {
  text-align: center;
}

.inpbloc4 {
  display: flex;
  width: 5rem;
  height: 5rem;
  border: 1px black solid;
  border-radius: 2.5rem;
  margin-top: -4rem;
  margin-left: 24rem;
  background-color: var(--d_color7);
}

#bloco5 {
  margin-top: -3.5rem;
}

.ptsvida {
  font-size: 30px;
  margin-left: 20%;
}

.progress {
  width: 92%;
  height: 1.8rem;
  border-radius: 15px;
  margin-top: -0.8rem;
  margin-left: 1.8rem;
  background-color: #FFFFFF7A;
}

.progress-bar {
  background-color: rgba(255, 0, 0, 0.48);
  border-radius: 2rem;
}

.numvida {
  margin-top: 1rem;
  margin-left: 5.5rem;
}

.inpbloc5,
.inpbloc5-1,
.inpbloc5-2 {
  width: 5rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 0px;
}

.inpbloc5 {
  position: absolute;
  margin-left: 4.9rem;
}

.inpbloc5-2 {
  margin-top: 0.7rem;
  margin-left: 8rem;
}

.pvtemp {
  margin-left: 6.2rem;
  font-size: 20px;
  margin-top: 0.2rem;
}

/* #bloco6{
  margin-left: 500px;
  margin-top: -150px;
}

.classArm{
  font-size: 20px;

}

.inpbloc6{
  display: flex;
  width: 100px;
  height: 100px;
  border: 2px black solid;
  border-radius: 50px;
  margin-left: -5px;
  margin-top: -15px;
} */

 .sect2{
  display: flex;
  float: left;
  justify-content: center;
  margin-top: -38rem;
  margin-left: 39rem;
}

#bloco7 {
  height: 10rem;
  width: 18rem;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}

.inpbloc7{
  height: 5.5rem;
  margin-left: 2rem;
}

.equipamen{
  margin: 1rem;
  margin-left: 5rem;
}

/* 
---------------------------------------------
editar
--------------------------------------------- 
*/





/* 
---------------------------------------------
loading
--------------------------------------------- 
*/