/* ---------------------------------------------
Table of contents
------------------------------------------------
01. root
02. reset
03. global styles
04. header
05. login 
06. cadastro
07. home
08. erro
09. configuração
10. usuario
11. criar personagem
12. ficha final 
13. editar
14. loading

--------------------------------------------- */
/* 
---------------------------------------------
root
--------------------------------------------- 
*/

@import url("root.css");

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

* {
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  border: 0;
  outline: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global style
--------------------------------------------- 
*/

/* Dark */
body {
  background-color: var(--d_color1);
  color: #fff;
  transition: all .5s;
  display: flex;
  flex-direction: row;
}


/* Ligth */
.ligth,
.ligth section {
  background-color: var(--l_color1);
  color: #fff;
  transition: all .5s;
}

.ligth main {
  background-color: var(--l_color3);
  transition: all .5s;
}


::selection {
  background: #03a4ed;
  color: #fff;
}

::-moz-selection {
  background: #03a4ed;
  color: #fff;
}

header {
  margin-left: 28px;
  width: 5%;
  height: 100vh;
}

main {
  width: 95%;
  height: calc(100vh - 56px);
  background-color: var(--d_color3);
  transition: all .5s;
  border-radius: 20px;
  margin: 28px;
}

main.fluid {
  width: 100%;
  height: calc(100vh - 56px);
  background-color: var(--d_color3);
  transition: all .5s;
  border-radius: 20px;
  margin: 28px;
}

.btn {
  width: 12rem;
  height: 4rem;
  background: var(--d_color5);
  border-radius: 10px;
  cursor: pointer;
}

.btn2 {
  width: 12rem;
  height: 4rem;
  background: var(--d_color6);
  border-radius: 10px;
  cursor: pointer;

}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

nav.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

nav .logo img {
  width: 4rem;
  border-radius: 10px;
  margin-top: 3rem;
  filter: unset;
}

nav img {
  filter: invert(100%);
  width: 3.5rem;
}

.navgation ul {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.active::after {
  content: " ";
  display: flex;
  position: absolute;
  margin-top: -4.5rem;
  left: 0;
  height: 4.5rem;
  width: 0.3rem;
  background-color: #fff;
}

nav .config {
  display: flex;
  position: absolute;
  bottom: 28px;

}




/* 
---------------------------------------------
login
--------------------------------------------- 
*/





/* 
---------------------------------------------
cadastro
--------------------------------------------- 
*/




/* 
---------------------------------------------
home
--------------------------------------------- 
*/
.bar{
  margin: 2rem;
}

<<<<<<< Updated upstream
.search input{
  width: 90%;
  height: 3rem;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 20px;
  font-size: 1.5em;
  font-family: var(--font2);
  padding-left: 2rem;
}
=======
input#search {

  width: 100%;
  height: 61px;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 20px;
>>>>>>> Stashed changes

.search button{
  width: 8%;
  height: 3rem;
  border-radius: 20px;
  font-size: 1.5em;
  font-family: var(--font2);
  background-color: var(--d_color4);
  position: absolute;
  margin-left: -8%;
  text-align: center;
}


.user{
  display: flex;
  width: 90%;
  height: auto;
  justify-content: space-between;
  border-radius: 40px 20px 20px 40px;
  align-items: center;
  background: var(--d_color5);
  font-size: 2em;
  z-index: 10;
}

.user img{
  width: 4rem;
  background: #ffffffba;
  position: relative;
  left: -12px;
  border-radius: 50%;
}
.user .name{
  font-size: 0.9em;
  margin-left: -4%;
  position: relative;
}
.collapsed{
  display: flex;
  position: absolute;
  z-index: 1;
  width: 22%;
  height: 15rem;
  border-radius: 15px;
  flex-direction: column;
  background-color: var(--d_color5);
  font-size: 2em;
  margin-top: -4rem;
  margin-left: 1.2rem;
  padding-top: 4rem;
  padding-left: 1rem;
  overflow: hidden;
}



.collapsed-item{
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1rem;
}

.collapsed img{
  width: 3rem;
  filter: invert(100%);
  object-fit: contain;
}

/* 
---------------------------------------------
erro
--------------------------------------------- 
*/





/* 
---------------------------------------------
configuração
--------------------------------------------- 
*/





/* 
---------------------------------------------
usuario
--------------------------------------------- 
*/





/* 
---------------------------------------------
criar personagem
--------------------------------------------- 
*/
input{
  background-color: var(--d_color5);
  border-radius: 5px;
  font-size: 25px;
  width: 230px;
  padding-left: 10px;
  color: white;
  height: 40px;
}
#nome{
  margin: 25px;
  margin-left: 65px;
  position: absolute;
  display: flex;
  margin-top: 220px;
}
#inpnome{
  border-radius: 5px;
  margin-left: 60px !important;
  margin-top: 240px !important;
  font-size: 25px;
  margin: 20px;
  flex-shrink: 0;
}
#grade1{
  border: black 2.5px solid;
  
}



/* 
---------------------------------------------
ficha final 
--------------------------------------------- 
*/
h1 {
  margin-top: 10px;
  font-size: 45px;
  margin: 12px;
}

input {
  background-color: var(--d_color5);
  border-radius: 5px;
  font-size: 25px;
  width: 230px;
  padding-left: 10px;
  color: white;
  height: 40px;
}

#imgdd {
  width: 110px;
  position: absolute;
  display: flex;
  margin-top: -62px;
  margin-left: 220px;
}

#bloco1 {
  width: 310px;
  height: 375px;
  margin: 20px;
  margin-top: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);

}

#nick {
  margin: 25px;
  margin-left: 40px;
  position: absolute;
  display: flex;
  margin-top: 220px;
}

#raça {
  margin: 25px;
  margin-left: 40px;
  display: flex;
  margin-top: 0px
}

#nivel {
  margin-left: 185px;
  margin-top: -82px;
}

#inptamanho1 {
  border-radius: 5px;
  margin-left: 30px !important;
  margin-top: 240px !important;
  font-size: 25px;
  margin: 20px;
  flex-shrink: 0;
}

#inpraça {
  display: flex;
  width: 120px;
  border-radius: 5px;
  margin-top: -25px !important;
  margin-left: 30px !important;
  font-size: 25px;
  margin: 20px;
  height: 40px;
  flex-shrink: 0;
}

#inpnivel {
  display: flex;
  margin-left: 180px;
  margin-top: -18px;
  width: 100px;
}

#bloco2 {
  width: 310px;
  height: 280px;
  margin-left: 350px !important;
  margin: 20px;
  margin-top: -395px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}

.inf2 {
  margin-left: 13%;
  margin-top: 15px;
}

.inpbloc2 {
  margin-left: 10%;
  margin-top: -10px;
}

.inspiracao {
  margin-left: 500px;
  font-size: 20px;
  flex-shrink: 0;
  border-radius: 5px black 2px solid;
  margin-right: 10%;
  padding: 11px;
  background-color: var(--d_color5);
  
}

/* 
---------------------------------------------
editar
--------------------------------------------- 
*/





/* 
---------------------------------------------
loading
--------------------------------------------- 
*/