/* ---------------------------------------------
Table of contents
------------------------------------------------
01. root
02. reset
03. global styles
04. header
05. login 
06. cadastro
07. home
08. erro
09. configuração
10. usuario
11. criar personagem
12. ficha final 
13. editar
14. loading

--------------------------------------------- */
/* 
---------------------------------------------
root
--------------------------------------------- 
*/

@import url("root.css");

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

* {
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  border: 0;
  outline: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global style
--------------------------------------------- 
*/

/* Dark */
body {
  background-color: var(--d_color1);
  color: #fff;
  transition: all .5s;
  display: flex;
  flex-direction: row;
}


/* Ligth */
.ligth,
.ligth section {
  background-color: var(--l_color1);
  color: #fff;
  transition: all .5s;
}

.ligth main {
  background-color: var(--l_color3);
  transition: all .5s;
}

.ligth ::selection {
  background: var(--l_color3);
  color: #fff;
}

.ligth ::-moz-selection {
  background: var(--l_color3);
  color: #fff;
}

::selection {
  background: var(--d_color3);
  color: #fff;
}

::-moz-selection {
  background: var(--d_color3);
  color: #fff;
}


header {
  margin-left: 28px;
  width: 5%;
  height: 100vh;
}

header.mobile{
  display: none;
}

main {
  width: 95%;
  height: calc(100vh - 56px) auto;
  background-color: var(--d_color3);
  transition: all .5s;
  border-radius: 20px;
  margin: 28px;
}

main.fluid {
  width: 100%;
  height: calc(100vh - 56px);
  background-color: var(--d_color3);
  transition: all .5s;
  border-radius: 20px;
  margin: 28px;
}

.btn {
  width: 12rem;
  height: 4rem;
  background: var(--d_color5);
  border-radius: 10px;
  cursor: pointer;
}

.btn2 {
  width: 12rem;
  height: 4rem;
  background: var(--d_color6);
  border-radius: 10px;
  cursor: pointer;

}


h1 {
  margin-top: 10px;
  font-size: 45px;
  margin: 12px;
}

input {
  background-color: var(--d_color5);
  border-radius: 5px;
  font-size: 25px;
  width: 230px;
  padding-left: 10px;
  color: white;
  height: 40px;
}

.cards{
  width: 13rem;
  height: 19rem;
  background: rgba(104, 179, 247, 0.46);
  box-shadow: 8px 8px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  overflow: hidden;
  z-index: 10;
}


.cards-container, .ver-ficha{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards .img-person{
  width: 11rem;
  height: 11rem;
  background-color: #fff;
  border-radius: 7px;
  margin: 1rem;
}

.cards p{
    font-size: 1.4em;
}

.ver-ficha{
    margin-left: 8rem;
    margin-top: -0.7rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--d_color3);
    z-index: 100;
    font-size: 2em;
    cursor: pointer;
    color: #b0b0b0;
    border-radius: 7px;
}
.cards:hover{
    transform: scale(1.1);
    transition: all .2s ease-out;
}

.more .cards:hover i{
    transform: rotate(180deg);
    transition: all .5s ease-out;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

nav.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

nav .logo img {
  width: 4rem;
  border-radius: 10px;
  margin-top: 3rem;
  filter: unset;
}

nav img {
  filter: invert(100%);
  width: 3.5rem;
}

.navgation ul {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.active::after {
  content: " ";
  display: flex;
  position: absolute;
  margin-top: -4.5rem;
  left: 0;
  height: 4.5rem;
  width: 0.3rem;
  background-color: #fff;
}

nav .config {
  display: flex;
  position: absolute;
  bottom: 28px;

}




/* 
---------------------------------------------
login
--------------------------------------------- 
*/





/* 
---------------------------------------------
cadastro
--------------------------------------------- 
*/




/* 
---------------------------------------------
home
--------------------------------------------- 
*/
.bar{
  margin: 2rem;
}

.search input{
  width: 90%;
  height: 3rem;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 20px;
  font-size: 1.5em;
  font-family: var(--font2);
  padding-left: 2rem;
}

.search button{
  width: 8%;
  height: 3rem;
  border-radius: 20px;
  font-size: 1.5em;
  font-family: var(--font2);
  background-color: var(--d_color4);
  position: absolute;
  margin-left: -8%;
  text-align: center;
}

.usuario{
  position: absolute;
  right: 0;
}
.user{
  display: flex;
  width: 90%;
  height: auto;
  justify-content: space-between;
  border-radius: 40px 20px 20px 40px;
  align-items: center;
  background: var(--d_color5);
  font-size: 2em;
  z-index: 100;
}

.user img{
  width: 4rem;
  background: #ffffffba;
  position: relative;
  left: -12px;
  border-radius: 50%;
}
.user .name{
  font-size: 0.9em;
  margin-left: -4%;
  position: relative;
}

.collapsed{
  display: flex;
  position: relative;
  z-index: 10;
  width: 92%;
  height: 1rem;
  border-radius: 15px;
  flex-direction: column;
  background-color: var(--d_color5);
  font-size: 2em;
  margin-top: -4rem;
  padding-top: 4rem;
  padding-left: 1rem;
  overflow: hidden;
  transition: all .4s ease-out;
}

#userbtn{
  position: relative;
  top: 0;
  transition: all .4s ease-out;
  cursor: pointer;
}

.active-userbtn{
  position: relative;
  top: 11rem !important;
  transform: rotate(180deg);
  cursor: pointer;

}

.collapsed-item{
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1rem;
}

.collapsed img{
  width: 3rem;
  filter: invert(100%);
  object-fit: contain;
}

h1.title{
  padding: 4rem;
}



/* 
---------------------------------------------
erro
--------------------------------------------- 
*/





/* 
---------------------------------------------
configuração
--------------------------------------------- 
*/





/* 
---------------------------------------------
usuario
--------------------------------------------- 
*/





/* 
---------------------------------------------
criar personagem
--------------------------------------------- 
*/
input
.inpnome
.inplevel
.inpraca
.inpgrad2
.inpgrad3
{
  background-color: var(--d_color5);
  border-radius: 2rem;
  font-size: 10rem;
  width: 20rem;
  padding-left: 2rem;
  color: white;
  height: 5rem;
}

#grade1 {
  width: 20rem;
  height: 27rem;
  margin: 2rem;
  margin-top: 4rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
  display: grid;
  grid-column: auto;
}

#nome {
  margin: 25px;
  margin-left: 40px;
  position: absolute;
  display: flex;
  margin-top: 13.5rem;
}

#raca {
  margin: 1.5rem;
  margin-left: 40px;
  display: flex;
  margin-top: 0px;
}

#level {
  margin: 1.5rem;
  margin-left: 12rem;
  display: flex;
  margin-top: 0px;
}

#inpnome {
  border-radius: 5px;
  margin-left: 30px !important;
  margin-top: 240px !important;
  font-size: 25px;
  margin: 20px;
  flex-shrink: 0;
}

#inpraca {
  display: flex;
  width: 8rem;
  border-radius: 5px;
  margin-top: -1.5rem !important;
  margin-left: 2rem !important;
  font-size: 25px;
  margin: 1rem;
  height: 2rem;
  flex-shrink: 0;
}

#inplevel {
  display: flex;
  width: 8rem;
  border-radius: 5px;
  margin-top: -6.06rem !important;
  margin-left: 11rem !important;
  font-size: 25px;
  margin: 1rem;
  height: 2rem;
  flex-shrink: 0;
}

#grade2 {
  width: 310px;
  height: 280px;
  margin-left: 350px !important;
  margin: 20px;
  margin-top: -395px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}

.tex2 {
  margin-left: 13%;
  margin-top: 15px;
}

.inpgrad2 {
  margin-left: 2rem;
  border-radius: 1rem;
}

#grade3{
  border: 2.5px solid var(--d_color1);
  border-radius: 1rem;
  height: 15rem;
  width: 20rem;
  margin-top: -18.7rem;
  margin-left: 42.5rem;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.inpgrad3{
  margin-top: 2rem;
  width: 5rem;
  height: 3.5rem;
  margin-left: -3rem;
  margin-top: 2.5rem;
  border-radius: 1rem;
}

.tex3{
  margin-left: 50%;
  margin-top: 15px;

}

.barrap{
  display: flex;
  overflow: hidden;
}

.progress .progsup{
  width: 75%;
  margin-right: 10%;
  margin-top: 15px;
  background-color: var(--d_color3);
  float: right;
}

.progress-bar .progresso{
  background-color: var(--d_color6);
  border-radius: 25px;
}

.numprog{
  font-size: 40px;
  margin-left: 150px;
  margin-top: 20px;
}

.prox{
  background-color: var(--d_color7);
  border-radius: 5%;
  width: 175px;
  height: 75px;
  text-align: center;
  margin-top: 100%;
  margin-left: 85%;
}

/* 
---------------------------------------------
ficha final 
--------------------------------------------- 
*/
.tituloFicha{
  margin-top: 10rem;
  font-size: 4rem;
  margin: 12px;
  margin: 1rem;
}

#imgdd {
  width: 8.5rem;
  display: flex;
  margin-top: -5.2rem;
  margin-left: 19.8rem;
}
#bloco1 {
  width: 20rem;
  height: 23.8rem;
  margin-left: 1.8rem;
  margin-top: 0.9rem;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}

.img-avatar{
  margin-top: 1.1rem;
  margin-left: 18.5%;
  background-color: transparent;
  width: 12rem;
  height: 11.5rem;
}
.bloco1-1 {
  margin-left: 2.5rem;
}
.nick {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}
.bloco1-2 {
  margin-left: 2.5rem;
  display: flex;
}
.raça,
.nivel {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.inpnick {
  margin-top: -2rem;
}
.inpraça,
.inpnivel {
  margin-top: -1rem;
}
.inpraça {
  width: 120px;
}
.inpnivel {
  width: 100px;
}
.bloco1-3 {
  margin-left: 10px;
}
#bloco2 {
  width: 18rem;
  height: 17rem;
  margin-left: 5rem;
  margin-top: -18.35rem;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}
.inf2 {
  margin-left: 1.2rem;
  margin-top: 1rem;
}
.inpbloc2 {
  margin-left: 0.5rem;
  display: flex;
  margin-top: -0.8rem;
}
#bloco3 {
  height: 3rem;
  width: 12rem;
  margin-top: 0;
  background-color: var(--d_color5);
  border: 1px black solid;
  border-radius: 5px;
  margin-left: -12rem;
}
.inspiracao {
  font-size: 20px;
  text-align: center;
  margin-top: 0.5rem;
}
.inpbloc3 {
  display: flex;
  width: 4rem;
  height: 3rem;
  border: 1px black solid;
  margin-top: -3rem;
  margin-left: -15.5rem;
  background-color: var(--d_color7);
}
#bloco4 {
  height: 3rem;
  width: 12rem;
  background-color: var(--d_color5);
  border: 1px black solid;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: -12rem;
}
.bonusprof {
  text-align: center;
}
.inpbloc4 {
  display: flex;
  width: 5rem;
  height: 5rem;
  border: 1px black solid;
  border-radius: 2.5rem;
  margin-top: -4rem;
  margin-left: -16.2rem;
  background-color: var(--d_color7);
}
#bloco5 {
  margin-top: -3rem;
  margin-left: -38rem;
}
.ptsvida {
  font-size: 30px;
  margin-left: 3.5rem;
}
.progress {
  width: 19rem;
  height: 1.8rem;
  border-radius: 15px;
  margin-top: -0.8rem;
  margin-left: 0.3rem;
  background-color: #FFFFFF7A;
}
.progress-bar {
  background-color: rgba(255, 0, 0, 0.48);
  border-radius: 2rem;
}
.numvida {
  margin-top: 1rem;
  margin-left: 5.5rem;
}
.inpbloc5,
.inpbloc5-1,
.inpbloc5-2 {
  width: 5rem;
  height: 2rem;
  margin-top: -1.5rem;
  border: 1px solid black;
  border-radius: 0px;
}
.inpbloc5 {
  position: absolute;
  margin-top: -0.4rem;
  margin-left: 4.1rem;
}

.inpbloc5-1{
margin-left: -0.8rem;
}

.inpbloc5-2 {
  margin-top: 0.2rem;
  margin-left: 7.2rem;
}
.pvtemp {
  margin-left: 5.6rem;
  font-size: 19px;
  margin-top: 0.2rem;
}
/* #bloco6{
  margin-left: 500px;
  margin-top: -150px;
}
.classArm{
  font-size: 20px;
}
.inpbloc6{
  display: flex;
  width: 100px;
  height: 100px;
  border: 2px black solid;
  border-radius: 50px;
  margin-left: -5px;
  margin-top: -15px;
} */
/* .sect2{
  display: flex;
  justify-content: center;
  margin-top: -85vh;
  margin-left: 20vh;
} */

/* #bloco7 {
  height: 10rem;
  width: 18rem;
  border-radius: 10px;
  border: 2.5px solid var(--d_color1);
  background: rgba(217, 217, 217, 0.00);
}
.inpbloc7{
  height: 5.5rem;
  margin-left: 2rem;
}
.equipamen{
  margin: 1rem;
  margin-left: 5rem;
} */

/* 
---------------------------------------------
editar
--------------------------------------------- 
*/





/* 
---------------------------------------------
loading
--------------------------------------------- 
*/